* {
    Padding: 0;
    Margin: 0;
    border: none;
    Font-Family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #141c1e
}

body {
    background: #f8d649;
}

/* top and logo */

header {
    line-height: 75px;
    justify-content: space-between;
    display: flex;
    position: fixed;
    z-index: 99;
    top: 0;
}

/* hamburger menu - https://codepen.io/andreykrokhin/pen/mGEqja */

.menu__btn {
    color: transparent;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 40px;

    width: 50px;
    height: 50px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 3px;

    background-color: #8f4ec4;

    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 250px;
    height: 20%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: rgb(248, 214, 73);
    box-shadow: 1px 0px 6px rgba(143, 78, 196, .8);

    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;

    color: #8f4ec4;

    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    text-decoration: none;

    transition-duration: .25s;
}

.menu__item:hover {
    background-color: rgba(143, 78, 196, .2)
}

/* Logo */

#container {
    width: 100%;
}

#logo-image {
    height: 600px;
    width: 100%;
    background: url('../images/friends_logo.png') no-repeat right top;
    background-size: contain;
    position: relative;
}

/* cover - text */

#the-quiz {
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 3px;
    font-size: 7vw;

}

#cover-text {
    position: absolute;
    top: 20%;
    left: 10%;
}

/* choose your character part */

#c-button {
    padding: 2.5% 2%;
    text-align: center;
    font-size: 250%;
}

h2 a {
    text-decoration: none;
}

#c-button a:active,
#c-button a:hover {
    background-color: rgba(72, 160, 79, .2);
}

#control-buttons {
    text-align: center;
    padding-bottom: 5%;
    background-color: #f8d649;
}

#control-buttons i:active,
#control-buttons i:hover {
    color: #ed3833;
    cursor: pointer;
    transform: scale(1);
    transform: scale(1.3);
}

#control-buttons i {
    color: #48a04f;
    font-size: 200%;
    text-align: center;
    background-color: #f8d649;
}

#play {
    margin-right: 1%;
    background-color: transparent;
    color: transparent;
}

#stop {
    background-color: transparent;
    color: transparent;
}

#girls {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 5%;
}

#boys {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 5%;
}

#score {
    color: #008000;
    font-weight: bold;
}

/* Buttons */

.btn {
    letter-spacing: 1.2px;
    border-radius: 50%;
    font-size: 180%;
    text-decoration: none;
}

.btn-character {
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 3px;
    border-radius: 20%;
    font-size: 200%;
    background-color: whitesmoke;
    margin: 15px;
}

.btn--blue {
    color: #2187B4;
    font-weight: bold;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: #2187B4;
    color: whitesmoke;
    border-color: whitesmoke;
    cursor: pointer;
}

.btn--red {
    color: #ed3833;
    font-weight: bold;
}

.btn--red:active,
.btn--red:hover {
    background-color: #ed3833;
    color: whitesmoke;
    border-color: whitesmoke;
    cursor: pointer;
}

.btn--green {
    color: #48a04f;
    font-weight: bold;
}

.btn--green:active,
.btn--green:hover {
    background-color: #48a04f;
    color: whitesmoke;
    border-color: whitesmoke;
    cursor: pointer;
}

/* How to Play? */

#instruction-container {
    width: 100%;
}

#instruction-title {
    font-size: 300%;
    padding-top: 10%;
    text-align: center;
}

#title {
    font-size: 150%;
    letter-spacing: 1px;
    padding: 4% 2%;
}

#rules {
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 140%;
    letter-spacing: 1.5px;
}

p {
    text-align: center;
}

/* turkey */

#turkey-box {
    text-align: center;
    padding: 2% 0;

    /* animation shake effect on loading the page */
    animation-name: shake;
    animation-duration: 5s;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

/* turkey animation - https://www.w3schools.com/howto/howto_css_shake_image.asp#:~:text=Learn%20how%20to%20shake%2Fwiggle%20an%20image%20with%20CSS.,last%20for%200.5%20seconds%20%2A%2F%20animation%3A%20shake%200.5s%3B */

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* Footer */

footer {
    height: 200px;
    width: 100%;
    padding-bottom: 5%;
}

#copyright>p {
    font-family: 'Quicksand', sans-serif;
    height: 20px;
    font-size: 80%;
    letter-spacing: 2px;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
}

.social-networks {
    height: 50px;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 3%;
}

.social-networks a {
    text-decoration: none;
}

.social-networks>li {
    display: inline;

}

.social-networks em {
    font-size: 200%;
    margin: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

#linkedin em {
    color: #44aedd;
}

#github em {
    color: #ed3833;
}

/* Quiz pages */

#main-window {
    display: block;
    justify-content: center;
}

.window {
    clear: both;
    margin: 2% 20%;
}

#question {
    padding-top: 70px;
}

#choice-outer-box {
    padding-top: 70px;
}

.choice-container {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 50px;
    background: #141c1e;
    font-size: 100%;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1);
    transform: scale(1.05);
}

.choice-prefix {
    padding: 20px 25px;
    color: #f8d649;
}

.choice-text {
    padding: 20px;
    width: 100%;
    color: #f8d649;
}

.correctanswer {
    background: rgb(72, 160, 79);
}

.wronganswer {
    background: rgb(237, 56, 51);
}

#displaybar {
    display: flex;
    justify-content: space-between;
}

.displaybar-prefix {
    text-align: center;
}

.displaybar-main-text {
    text-align: center;
}

#progressbar {
    width: 160px;
    height: 24px;
    border: 3px solid #44aedd;
    margin-top: 7%;
    border-radius: 50px;
    overflow: hidden;
}

#progressbar-full {
    height: 100%;
    background: #44aedd;
    width: 0%;
}

/* final-score part */

#final-results-window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.grid {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

#result {
    font-size: 300%;
    font-weight: bolder;
    color: #44aedd;
    font-family: 'Shadows Into Light', cursive;
}

#correct-answers {
    font-size: 350%;
    font-weight: bolder;
    color: #48a04f;
    font-family: 'Shadows Into Light', cursive;
}

#homebtn {
    text-decoration: none;
    color: #8f4ec4;
    font-size: 200%;
    text-align: center;
}

#homebtn i {
    color: #8f4ec4;
}

#homebtn:active,
#homebtn:hover {
    cursor: pointer;
    transform: scale(1);
    transform: scale(1.3);
}

/* Media queries */

/* screens size from 700px wide and down */
@media screen and (max-width: 700px) {

    #girls,
    #boys {
        flex-direction: column
    }

    #girls > button, #boys > button {
        height: 150px;
        min-width: 170px;
    }

    #cover-text {
        top: 40%;
        left: 15%;
    }

    #instruction-title {
        font-size: 250%;
        padding-top: 20%;
    }

    #copyright>p {
        padding-bottom: 5%;

    }
}

/* screens size from 985px wide and down */
@media screen and (max-width: 985px) {
    #logo-image {
        height: 400px;
    }
}

/* screens size from 750px wide and down */
@media screen and (max-width: 750px) {
    #logo-image {
        height: 350px;
    }

    #instruction-title {
        font-size: 200%;
    }
}

/* screens size from 670px wide and down */
@media screen and (max-width: 670px) {
    #logo-image {
        height: 300px;
    }

    #instruction-title {
        font-size: 150%;
    }

    #correct-answers {
        font-size: 200%;
    }
}

/* screens size from 570px wide and down */
@media screen and (max-width: 570px) {
    #logo-image {
        height: 260px;
    }
}

/* screens size from 470px wide and down */
@media screen and (max-width: 470px) {
    #logo-image {
        height: 240px;
    }
}

/* screens size from 420px wide and down */
@media screen and (max-width: 420px) {
    #logo-image {
        height: 200px;
    }
}

/* screens size from 350px wide and down */
@media screen and (max-width: 350px) {
    #logo-image {
        height: 200px;
    }
}