* {
    Padding: 0;
    Margin: 0;
    border: none;
    Font-Family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #141c1e
}

body {
    background: #f8d649;
}

/* top and logo */

header {
    line-height: 75px;
    justify-content: space-between;
    display: flex;
    position: fixed;
    z-index: 99;
    top: 0;
}

/* hamburger menu - https://codepen.io/andreykrokhin/pen/mGEqja */

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 40px;

    width: 50px;
    height: 50px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 3px;

    background-color: #8f4ec4;

    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 250px;
    height: 20%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: rgb(248, 214, 73);
    box-shadow: 1px 0px 6px rgba(143, 78, 196, .8);

    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;

    color: #8f4ec4;

    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    text-decoration: none;

    transition-duration: .25s;
}

.menu__item:hover {
    background-color: rgba(143, 78, 196, .2)
}

/* Logo */

#logo-image {
    height: 600px;
    width: auto;
    background: url('../images/friends_logo.png') no-repeat right center;
}

/* cover - text */

#cover-text h1 {
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 3px;
    font-size: 500%;
}

#cover-text {
    text-align: center;
    background-color: transparent;
    width: 400px;
    height: 100px;

    position: absolute;
    top: 150px;
    left: 150px;
}

/* game-area */

h2 {
    margin-top: 2.5%;
    text-align: center;
    font-size: 250%;
}

h2 a {
    text-decoration: none;
}

h2 a:active,
h2 a:hover {
    background-color: rgba(72, 160, 79, .2);
}

#game-area {
    height: 600px;
}

#girls {
    text-align: center;
    padding-top: 5%;
}

#boys {
    text-align: center;
    padding-top: 5%;
}

.score-area {
    text-align: center;
    padding: 5%;
}

.scores {
    display: inline-block;
    padding: 25px;
}

.score-area>p {
    display: inline;
    font-size: 150%;
}

#score {
    color: #48a04f;
    font-weight: bold;
}

#wrong {
    color: #ed3833;
    font-weight: bold;
}

/* Buttons */

#instruction {
    padding-left: 15%;
    padding-top: 8%;
}

.btn {
    width: 180px;
    height: 100px;
    letter-spacing: 1.2px;
    border-radius: 50%;
    font-size: 180%;
}

.btn_instructions {
    background-color: #8f4ec4;
    color: #141c1e;
    font-family: 'Shadows Into Light', cursive;
}

.btn_instructions:active,
.btn_instructions:hover {
    background-color: whitesmoke;
    color: #8f4ec4;
    border: 3px solid #8f4ec4;
}

.btn-character {
    width: 300px;
    height: 180px;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 3px;
    color: #141c1e;
    border-radius: 20%;
    font-size: 200%;
    background-color: whitesmoke;
    margin: 15px;
}

.btn--blue {
    color: #44aedd;
    font-weight: bold;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: #44aedd;
    color: whitesmoke;
    border-color: whitesmoke;
}

.btn--red {
    color: #ed3833;
    font-weight: bold;
}

.btn--red:active,
.btn--red:hover {
    background-color: #ed3833;
    color: whitesmoke;
    border-color: whitesmoke;
}

.btn--green {
    color: #48a04f;
    font-weight: bold;
}

.btn--green:active,
.btn--green:hover {
    background-color: #48a04f;
    color: whitesmoke;
    border-color: whitesmoke;
}

/* How to Play? */

#instruction-container {
    height: 600px;
    width: 100%;
}

#instruction-title {
    padding: 5%;
    font-size: 300%;
}

#title {
    padding: 3%;
    font-size: 150%;
    letter-spacing: 1, 5px;
}

#rules {
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 140%;
    letter-spacing: 1, 5px;
}

p {
    text-align: center;
}

/* turkey */

#turkey-box {
    text-align: center;
    padding: 2% 0;

    /* animation shake effect on loading the page, too */
    animation-name: shake;
    animation-duration: 5s;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

/* turkey animation - https://www.w3schools.com/howto/howto_css_shake_image.asp#:~:text=Learn%20how%20to%20shake%2Fwiggle%20an%20image%20with%20CSS.,last%20for%200.5%20seconds%20%2A%2F%20animation%3A%20shake%200.5s%3B */ 

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* Footer */

footer {
    height: 300px;
    width: 100%;
    padding-bottom: 5%;
}

#copyright>p {
    font-family: 'Quicksand', sans-serif;
    height: 20px;
    font-size: 80%;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 1%;
}

.social-networks {
    height: 50px;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 3%;
}

.social-networks a {
    text-decoration: none;
}

.social-networks>li {
    display: inline;

}

.social-networks em {
    font-size: 200%;
    margin: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

#linkedin em {
    color: #44aedd;
}

#github em {
    color: #ed3833;
}